* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }

  //Fonts

  @font-face {
    font-family: Sora;
    src: url(./fonts/Sora-VariableFont_wght.ttf);
    font-display: swap;
  }

  @font-face {
    font-family: Poppins-Regular;
    src: url(./fonts/Poppins-Regular.ttf);
    font-display: swap;
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url(./fonts/Poppins-Medium.ttf);
    font-display: swap;
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url(./fonts/Poppins-Bold.ttf);
    font-display: swap;
  }
  
  //Colors
  $color-background: #0D0D0D;
  $color-primary: white;
  $color-secundary: #28E98C;
  $color-third: #191919;
  $color-hr:#979797;
  $font-primary: Poppins-Regular;
  $font-secundary: Poppins-Medium;
  $font-third: Sora;
  $font-important: Poppins-Bold;
  
  
  body {
   background: $color-background;
   color: white;
   -webkit-font-smoothing: antialiased;
  }
  
  body, input, button {
   font-size: 14px;
   font-family: $font-primary;
  }
  
  button {
   cursor: pointer;
  }

// Base Styles

.main__hr{
  border: 0.5px solid $color-hr;
  margin: 10% 0px;
}

.main__pills{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__pill{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 0.5px solid $color-hr;
  width: fit-content;
  padding: 0px 10px;
}

.main__img{
  width: 18px;
}

.main__tit{
  font-family: $font-primary;
  font-size: 1rem;
  padding: 10px;
}

.main__h2{
  font-family: $font-primary;
  font-size: 1.7rem;
  color: white;
  text-align: center;
  margin: 50px 0px;
}

.main__span{
  color: $color-secundary;
}

@mixin hover-effect {
  position: relative;
  display: flex;
  transform: scale(1, 1) translateZ(0px);
  transition-duration: 300ms;
  transition-property: transform;
  transition-timing-function: ease-out;
  will-change: transform; // Optimiza la animación
  -webkit-font-smoothing: subpixel-antialiased;

  &:hover {
    transform: scale(1.05, 1.05) translateZ(0px) translate3d(0px, 0px, 0px);
    transition-duration: 300ms;
    transition-property: transform;
    transition-timing-function: ease-out;
  }
}

@media (max-width:480px){
  .main__details--about{
    display: flex;
    justify-content: center;
  }
}



// Header

.header{
  position: fixed;
  width: 100vw;
  top: 0px;
  background-color: $color-background;

}

.header__nav{
  background-color: $color-background;
  margin-top: 15px;
}

.header__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
}

.header__img{
  width: 120px;
}

.header__menu{
  background-color: $color-third;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.header__li{
  margin: 0px 10px;
}

.header__a{
  color: white;
  padding: 10px 0px;
  border-bottom: 2px solid $color-third;
  text-decoration: none;
}

.header__a:hover{
  border-bottom: 2px solid white;
}

.header__a--home{
  border-bottom: 2px solid $color-secundary;
}

.header__socials{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
}

.header__social{
  padding: 0px 10px;
}

// Home

.home{
  margin: 10% 0px 50px 0px;
}

.home__h1{
  text-align: center;
  font-family: $font-third;
  font-size: 7vw;
  font-weight: 600;
}

.home__span{
  color: $color-secundary;
}

.home__pills{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

.home__pill{
  height: 43px;
  background-color: $color-third;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  border-radius: 8px;
}

.home__pill:hover{
  background-color: $color-secundary;

  & .home__h4{
    color: $color-background;
  }
}

.home__h4{
  font-family: $font-primary;
  font-weight: 400;
  color: white;
  font-size: 1rem;
  margin: 0px;
  text-align: center;
}

.home__p{
  font-family: $font-primary;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.5;
  text-align: center;
}

@media (max-width: 834px){
  .home{
    margin: 35% 0px 50px 0px;
  }
}

@media (max-width: 425px){
  .home{
    margin: 65% 0px 50px 0px;
  }

  .home__h1{
    font-size: 10vw;
  }

  .home__pills{
    margin-top: 20px;
  }

  .home__p{
    display: none;
  }
}

// About

.about__h3{
  font-family: $font-primary;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.about__span{
  color: $color-secundary;
}

.about__mail{
  display: flex;
  border-left: 3px solid $color-secundary;
  padding-left: 10px;
  margin: 20px 0px;
}


.about__icon{
  width: 50px;
}

.about__iconmail--location{
  width: 25px;
  margin-left: 10px;
}

.about__textmail{
  padding-left: 10px;
}

.about__label{
  font-family: $font-primary;
  font-size: 1rem;
  color: $color-hr;
}

.about__email{
  font-family: $font-primary;
  font-size: 1rem;
  color: white;
  margin: 10px 0px;
}

.about__button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: $color-third;
  padding: 10px;
  border: 1px solid $color-hr;
  border-radius: 8px;
  margin: 40px 0px;
}

.about__button:hover{
  border: 1px solid white;
}

.about__imgcv{
  width: 14px;
}

.about__download{
  padding-left: 10px;
  font-family: $font-primary;
  font-size: 1.2rem;
}

//Skills



.skills__category{
  margin: 40px 0px;
  border-left: 3px solid $color-secundary;
  padding-left: 20px;
}

.skills__tit{
  font-family: $font-secundary;
  font-size: 1.2rem;
}

.skills__p{
  font-size: 1rem;
  color: $color-hr;
}

.skills__cards{
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skills__card{
  width: 120px;
  height: 128px;
  border-radius: 8px;
  border: 1px solid $color-hr;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: $color-third;
}

.skills__card:hover{
  border: 1px solid white;
  background-color: $color-secundary;

  & .skills__name{
    color: $color-background;
  }
}

.skills__skillicon{
  height: 54px;
  margin-top: 20px;
}

.skills__name{
  font-family: $font-secundary;
  color: white;
  font-size: 1rem;
  padding: 10px;
}

.skills__line{
  border-bottom: 3px solid white;
  width: 41px;
}

@media (max-width:425px){
  .skills__cards{
    display: flex;
    justify-content: center;
  }
}

// Resume

.resume__category{
  margin: 40px 0px;
  border-left: 3px solid $color-secundary;
  padding-left: 20px;
}

.resume__tit{
  font-family: $font-secundary;
  font-size: 1.2rem;
}

.resume__p{
  font-size: 1rem;
  color: $color-hr;
}

// Experience

.resume{
  margin: 20px 0px;
}

.resume__cards{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
}

.resume__card{
  display: flex;
  justify-content: space-between;
  border-left: 3px solid $color-hr;
  padding-left: 20px;
}

.resume__card:hover{
  border-left: 3px solid $color-secundary;
  
}

.resume__logo{
  margin: 20px 0px;
}

.resume__pill{
  border: 0.5px solid $color-hr;
  border-radius: 8px;
  width: 110px;
  background-color: $color-third;
  margin-left: 3px;
}

.resume__h4{
  font-family: $font-primary;
  font-size: 1rem;
  text-align: center;
  margin: 10px;
}

.resume__h3{
  font-family: $font-secundary;
  font-size: 1.3rem;
  margin: 10px 0px;
  color: white;
}

.resume__name{
  font-family: $font-primary;
  font-size: 1.2rem;
  color: $color-hr;
  padding-bottom: 10px;
}

.resume__description{
  font-family: $font-primary;
  font-size: 1rem;
  color: white;
}


// Portfolio

.portfolio__cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.portfolio__card{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.portfolio__work{
  width: 100%;
}

.portfolio__details{
  margin-left: 20px;
}

.portfolio__h3{
font-family: $font-primary;
font-size: 1.5rem;
margin: 0px;
}

.portfolio__pills{
  margin: 15px 0px;
  display: flex;
  gap: 10px;
}

.portfolio__description{
  font-family: $font-primary;
  color: $color-hr;
  font-size: 1rem;
}

.portfolio__buttons{
  display: flex;
  margin: 20px 0px;
  gap: 20px;
}

.portfolio__a{
  display: flex;
  border: 1px solid $color-hr;
  border-radius: 8px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 100px;
  background-color: $color-third;
}

.portfolio__code{
  height: 1rem;
  margin-right: 10px;
}


.portfolio__url{
  font-family: $font-primary;
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

.portfolio__a--preview{
  width: 100px;
}

.portfolio__more{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.portfolio__a--more{
  width: 250px;
  font-family: $font-primary;
  font-size: 1.2rem;
  color: white;
}

// Contact

.contact__buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.contact__button{
  border: 1px solid $color-hr;
  border-radius: 8px;
  background-color: $color-third;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 45%;
  padding: 10px;
  @include hover-effect()
}


.contact__img{
  display: flex;
  place-content: center;
  padding: 10px;
}

.contact__label{
  font-family: $font-primary;
  color: $color-hr;
  font-size: 1.1rem;
  margin: 10px 0px;
}

.contact__p{
  font-family: $font-primary;
  font-size: 1rem;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.contact__h2{
  font-size: 1.3rem;
}

.contact__hub{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact__social{
  display: flex;
  justify-content: center;
  border: 1px solid transparent;
  &:hover{
    border: 1px solid white;
    border-radius: 8px;
  }
}

@media (max-width:425px){
  .contact__button{
    width: 100%;
  }
}

// Footer

.footer{
  background-color: $color-third;
  padding: 20px 0px;
  margin-top: 30px;
}

.footer__p{
  font-family: $font-primary;
  font-size: 1rem;
  color: white;
  text-align: center;
}

.footer__svelte{
  font-family: $font-primary;
  font-size: 1rem;
  color: white;
  text-align: center;
  margin: 10px 0px;
}

.footer__a{
  color: $color-secundary;
}