* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }

  //Fonts

  @font-face {
    font-family: Sora;
    src: url(./fonts/Sora-VariableFont_wght.ttf);
    font-display: swap;
  }

  @font-face {
    font-family: Poppins-Regular;
    src: url(./fonts/Poppins-Regular.ttf);
    font-display: swap;
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url(./fonts/Poppins-Medium.ttf);
    font-display: swap;
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url(./fonts/Poppins-Bold.ttf);
    font-display: swap;
  }
  
  //Colors
  $color-background: #0D0D0D;
  $color-primary: white;
  $color-secundary: #28E98C;
  $color-third: #191919;
  $color-hr:#979797;
  $font-primary: Poppins-Regular;
  $font-secundary: Poppins-Medium;
  $font-third: Sora;
  $font-important: Poppins-Bold;
  
  
  body {
   background: $color-background;
   color: white;
   -webkit-font-smoothing: antialiased;
  }
  
  body, input, button {
   font-size: 14px;
   font-family: $font-primary;
  }
  
  button {
   cursor: pointer;
  }

// Base Styles

.main__hr{
  border: 0.5px solid $color-hr;
  margin: 10% 0px;
}

.main__pill{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 0.5px solid $color-hr;
  width: fit-content;
  padding: 0px 10px;
}

.main__img{
  width: 18px;
}

.main__tit{
  font-family: $font-primary;
  font-size: 1rem;
  padding: 10px;
}

.main__h2{
  font-family: $font-primary;
  font-size: 1.7rem;
  color: white;
}

.main__span{
  color: $color-secundary;
}

// Header

.header__nav{
  background-color: $color-background;
  margin-top: 15px;
}

.header__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
}

.header__img{
  width: 120px;
}

.header__menu{
  background-color: $color-third;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.header__li{
  margin: 0px 10px;
}

.header__a{
  color: white;
  padding: 10px 0px;
  border-bottom: 2px solid $color-third;
  text-decoration: none;
}

.header__a:hover{
  border-bottom: 2px solid white;
}

.header__a--home{
  border-bottom: 2px solid $color-secundary;
}

.header__socials{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
}

.header__social{
  padding: 0px 10px;
}

// Home

.home{
  margin: 10% 0px;
}

.home__h1{
  text-align: center;
  font-family: $font-third;
  font-size: 7vw;
  font-weight: 600;
}

.home__span{
  color: $color-secundary;
}

.home__pills{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

.home__pill{
  height: 43px;
  background-color: $color-third;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  border-radius: 8px;
}

.home__h4{
  font-family: $font-primary;
  font-weight: 400;
  color: white;
  font-size: 1rem;
  margin: 0px;
}

.home__description{
  font-family: $font-primary;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.5;
  text-align: center;
}

// About

.about__h3{
  font-family: $font-primary;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.about__span{
  color: $color-secundary;
}

.about__mail{
  display: flex;
  border-left: 3px solid $color-secundary;
  padding-left: 10px;
}

.about__textmail{
  padding-left: 10px;
}

.about__label{
  font-family: $font-primary;
  font-size: 1rem;
  color: $color-hr;
}

.about__email{
  font-family: $font-primary;
  font-size: 1rem;
}

.about__button{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: $color-third;
  padding: 10px;
  border: 1px solid $color-hr;
  border-radius: 8px;
}

.about__imgcv{
  width: 14px;
}

.about__download{
  padding-left: 10px;
  font-family: $font-primary;
  font-size: 1.2rem;
}

//Skills



.skills__category{
  margin: 40px 0px;
  border-left: 3px solid $color-secundary;
  padding-left: 20px;
}

.skills__tit{
  font-family: $font-secundary;
  font-size: 1.2rem;
}

.skills__p{
  font-size: 1rem;
  color: $color-hr;
}

.skills__cards{
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skills__card{
  width: 120px;
  height: 128px;
  border-radius: 8px;
  border: 1px solid $color-hr;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: $color-third;
}

.skills__skillicon{
  height: 54px;
  margin-top: 20px;
}

.skills__name{
  font-family: $font-secundary;
  color: white;
  font-size: 1rem;
  padding: 10px;
}

.skills__line{
  border-bottom: 3px solid white;
  width: 41px;
}

// Resume

.resume__category{
  margin: 40px 0px;
  border-left: 3px solid $color-secundary;
  padding-left: 20px;
}

.resume__tit{
  font-family: $font-secundary;
  font-size: 1.2rem;
}

.resume__p{
  font-size: 1rem;
  color: $color-hr;
}